{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% bootstrap_css %}
{% block title %}Cadastro{% endblock %}


{% block extra_head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">   
{% endblock %}

{% block content %}
<span class="separator">
  Cadastro
</span>

<main>
  <div class="container page">
    <form action="" method="POST" class="formCadastro" enctype="multipart/form-data">
      {% csrf_token %}

      <h1>Cadastro</h1> </br>
      
      <h5>Dados Pessoais</h5>
      {% bootstrap_form cliente_form %}
      
      <h5>Endereço</h5>
      {{ endereco_formset.management_form }}
      {% for form in endereco_formset %}
        {% bootstrap_form form%}
      {% endfor %} 
    <button type="submit" class="btn-cliente"> Cadastrar </button>
    </form> 
  </div>
</main>
{% endblock %}
      
