{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% bootstrap_css %}
{% block title %}Login{% endblock %}

{% block extra_head %}

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">   
{% endblock %}

{% block content %}

  <span class="separator">
    Perfil do Cliente
  </span>

  <main>

    <div class="container page">
    </br>
    <h1>Perfil do cliente</h1>
    </br>

    <h4 class="card-title">{{ cliente.nome }}</h4>
    <p class="card-text">E-mail: {{ cliente.email }}</p>
    <p class="card-text">Telefone:  {{ cliente.telefone }}</p>
    <p class="card-text">CPF: {{ cliente.cpf }}</p>
    <p class="card-text">
      Pedidos: 
        {% for pedido in cliente.pedido.all %}
          {{ pedido }} 
        {% endfor %}
    </p>
    </div>
    </br>

    <div class="container page">
      <form method="POST" action='/cliente/logout/'>
        {% csrf_token %}
        <h4>Fazer Logout</h4>
        <button id="excluirBtn" class="btn-cliente" >Logout</button>    
      </form>
    </div>
    </br>

    <div class="container page">
    <form method="POST" action='/cliente/excluir/'>
        {% csrf_token %}
        <h4>Deseja excluir seu cadastro?</h4>
        <label for="confirmar">Tenho certeza de que quero excluir </label>
        <input type="checkbox" id="confirmar" name="confirmar" required>
        </br>
        <button type="submit" class="btn-cliente" >Excluir</button>
    </form>
    </div>
    </br>

  </main>
  {% endblock %}