{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% block title %}WoMakersLib{% endblock %}


{% block extra_head %}
  <!-- Links do bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- link do estilo css -->
  <link rel="stylesheet" type="text/css" href="{% static 'estilo.css'%}">
  <!-- links das fontes da tipografia -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

 <span class="separator">
     Categorias
 </span>

 <main>
     <section class="container">
         <!-- Parte de compra -->
         <div class="row ">
             <!-- Div que contém a imagem do livro-->
             <div class="col-4">
                 <img class="img-fluid" src="{% static 'media/' %}{{ livro.imagem_capa }}" alt="{{ livro.titulo }}" width="335" height="509">
             </div>
             <!-- informações do livro -->
             <div class="col">
                 <h2 class="book-title">{{ livro.titulo }}</h2>
                 <span class="info">
                     <h4>Autor:
                         {% for autor in livro.autores.all %}
                         {{ autor.nome }} {{ autor.sobrenome }}
                         {% endfor %}</h4>
                 </span>
                 <span class="info">
                     <h4>Editora: {{ livro.editora.nome }}
                 </span>
                 <span class="info">
                     <h4> {{ livro.valor }} </h4>
                 </span>
                 <!-- Botões de compra e quantidade de itens -->
                 <form method="POST" action="/livro/adicionar-ao-carrinho/">
                     {% csrf_token %}
                     <div class="btns">
                         <!-- botão de quantidade -->
                         <input type="number" name="quantidade" min="1" max="99" value="1">
                         <input type="hidden" name="livro_id" value="{{ livro.id }}">
                         <!-- botão de compra -->
                         <button type="submit" class="buy-btn" data-action="add">
                             Adicionar ao Carrinho
                             <i class="bi bi-cart3"></i>
                         </button>
                     </div>
                 </form>
                 <!-- Calculo de frete -->
                 <div class="frete">
                     <p>Calcule o frete</p>
                     <input type="text">
                     <button>Ok</button>
                 </div>
             </div>
         </div>
         <!-- parte de descrição do livro -->
         <div class="row justify-content-center sinopse">
             <p> {{ livro.descricao }} </p>
         </div>
         <!-- parte da ficha técnica do livro -->
         <div class="row justify-content-center datasheet">
             <h1>Ficha Tecnica</h1>
             <div>
                 <table class="table">
                     <tbody>
                         <tr>
                             <th scope="row">Editora</th>
                             <td> {{ livro.editora.nome }} </td>
                         </tr>
                         <tr>
                             <th scope="row">ISBN</th>
                             <td>{{ livro.isbn }} </td>
                         </tr>
                         <tr>
                             <th scope="row">Gênero</th>
                             <td>{{ livro.id_genero.nome }} </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </section>
 </main>
{% endblock %}