{% load static %}

<header class="container">
    <div class="row align-items-center">
      <a class="col-2" href="/">
        <div class="logo-img-container">
          <img src="{% static 'assets\img\logo.png' %}" alt="Womakers Lib" class="logo-img transition-soft align-self-center" width="190" height="130">
        </div>
      </a>
      <div class="col-8 row">
        <div class="input-group flex-nowrap">
          <form class="search-container justify-content-center" action="{% url 'Livros:search' %}" method="get">
            <input class="search-input form-control" autocomplete="off" type="search" name="q" placeholder="O que você está buscando?">
            <button type="submit" class="btn search-input-submit" value="Buscar" aria-label="Buscar">
                <i class="bi bi-search justify-left"></i>
            </button>
        </form>          
        </div>
      </div>
      <nav class="col-2 nav justify-content-center">
        <a class="nav-link active" aria-current="page" href="/cliente/perfil/">
          <img src="{% static './assets/svg/profile.svg' %}" alt="" width="46" height="46">
        </a>
        <a class="nav-link" href="/pedido/detalhes_carrinho/">
          <img src="{% static './assets/svg/cart.svg' %}" alt="" width="46" height="46">
        </a>
      </nav>
    </div>
</header>