{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% bootstrap_css %}
{% block title %}Carrinho{% endblock %}


{% block content %}
    
<span class="separator">
    Carrinho
</span>
    

    <main>
    <div class="container page">  
      
      {% if carrinho_vazio %}
        <div class="page-title text-center"><h1>{{ carrinho }}</h1></br>
   
      {% else %}
      
        <div class="page-title"><h1 class="h1 text-center">Detalhes do carrinho</h1></br>
        
          <h2 class="card-title">Olá {{ cliente.nome }}! </h2> 
          <div class="content-carrinho">
            <table class="table table-hover">  
              <thead>
                <tr>
                  <th scope="col">Livro</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Preço unitário</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Excluir</th>                  
                </tr>
            </thead>
            <tbody>
              {% for item in carrinho %}
              <tr>
                <td>
                  <div class="product-info">
                    <img class="img-fluid" src="{% static 'media/' %}{{ item.imagem_capa }}" alt="{{ item.titulo }}" width="150" height="150">
                  </div>
                </td>
                <td>
                  <div class="details">
                    <p class="product-name">{{ item.titulo }}</p>
                  </div>
                </td>
                <td> 
                  {{ item.valor }}
                </td>  
                <td>
                  <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="livro_id" value="{{ item.id }}">
                    <input type="hidden" name="carrinho_id" value="{{ carrinho.id }}">
                    <div class="qty">
                      <button class="btn-sm btn-light" type="submit"><i class="bx bx-minus"></i></button>
                      <span class="quantity-value">{{ item.quantidade }}</span>
                      <button class="btn-sm btn-light" type="submit"><i class="bx bx-plus"></i></button>
                    </div>
                  </form>
                </td>
                <td>
                  R$ {{ item.subtotal }} 
                </td>  
                <td>
                  <form action="/pedido/excluir_item_carrinho/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="livro_id" value="{{ item.livro_id }}">
                    <input type="hidden" name="carrinho_id" value="{{ item.carrinho_id }}">
                    <button class="btn-sm btn-danger remove-item" type="submit"><i class="bx bx-x"></i></button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="cart-summary">
          </br><p class = "h3">Valor Total: R$ {{valor_total}} </p></br>

          <form action="/pedido/finalizar_pedido/" method="POST">
            {% csrf_token %}
            {% comment %} <input type="hidden" name="livro_id" value="{{ livro.id }}">
            <input type="hidden" name="carrinho_id" value="{{ carrinho.id }}"> {% endcomment %}
            <button class="btn btn-lg btn-secundary">Finalizar</button>
          </form>
          
          
          </br>
        </div>

        </div> 
      {% endif %}

    </div>
    </main>
{% endblock %}
      
