{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% bootstrap_css %}
{% block title %}Pedidos{% endblock %}


{% block content %}
    
<span class="separator">
    Pedidos
</span>
    
<main>

    <h1>Pedidos do Cliente</h1>
    <ul>
        {% for pedido in pedidos %}
            <li>
                <p><a href="{% url 'detalhes_pedido' pedido.id %}">Número do Pedido: {{ pedido.id }}</a></p>
                <p>Data do Pedido: {{ pedido.data_pedido }}</p>
                <p>Status: {{ pedido.status }}</p>
                <p>Valor Total: R$ {{ pedido.valor_total }}</p>
                <p>Forma de Pagamento: {{ pedido.forma_pagamento }}</p>
                <!-- Adicione mais detalhes do pedido conforme necessário -->
            </li>
        {% endfor %}
    </ul>

    
</main>
{% endblock %}
